<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--日志路径-->
  <variable name="LogDirBase" value="log" />
  
  <targets >
    <target name="file" xsi:type="File" fileName="${LogDirBase}\\${shortdate}.log" layout="${longdate} ${message}" />
    
  </targets>

  <rules>
    <logger name="info" minlevel="trace" writeTo="file"/>
  </rules>
</nlog>
